%h1 Ecardator
%h2 Le eCard ribelli
.content
  = form_for @ecard, url: {action: "create"} do |f|
    .form-div
      .form-select
        .first-form-select_1
          = f.label 'Brand'
          \:
          \#{f.select :brand, ['mikamai', 'linkme']}
        .first-form-select_2
          = f.label 'Language'
          \:
          \#{f.select :lang, ['en', 'it', 'fr', 'de', 'jp', 'es', 'zhs', 'kr']}
        .first-form-select_3
          = f.label 'Forward to a friend'
          \:
          \#{f.check_box :forward_to_a_friend}
      = f.label :title
      \:
      %br/
      = f.text_field :title
      %br/
      = f.label :pre_header
      \:
      %br/
      = f.text_field :pre_header
      %br/
      = f.label :width
      \:
      %br/
      = f.text_field :width, :value => '600'
      %br/
      = f.label :height
      \:
      %br/
      = f.text_field :height
      %br/
      = f.label :src
      \:
      %br/
      = f.text_field :src
      %br/
      = f.label :link
      \:
      %br/
      = f.text_field :link
      %br/
      = f.label :cmp
      \:
      %br/
      = f.text_field :cmp
      %br/
      = f.label :alt
      \:
      %br/
      = f.text_field :alt
      %br/
      = f.submit "Create Ecard"
