.container
  %h1#ecardator Ecardator
  .content
    = form_for @ecard, url: {action: "create"} do |f|
      .form-div
        = f.label :title
        %br
        = f.text_field :title
        %br
        -# = f.label :width
        -# %br
        -# = f.text_field :width, :value => '300'
        -# %br
        -# = f.label :height
        -# %br
        -# = f.text_field :height
        -# %br
        = f.label :src
        %br
        = f.text_field :src
        %br
        = f.label :date
        %br
        = f.text_field :date
        %br
        = f.label :text
        %br
        = f.text_field :text
        %br
        = f.label :link
        %br
        = f.text_field :link
        %br
        = f.label :alt
        %br
        = f.text_field :alt
        %br
        #maintable
        .fields
          .choice_event_container
            #button_new_choice
              %a#addNewChoice{:href => "#"} Aggiungi evento
            .form-select
              = f.label 'Color'
              \#{f.select :color_template, [['verde','#78992e'],['viola','#a35b7f'],['giallo','#d99116']]}
          #add_event
            #new_choice_form{:style => "display: none;"}
              -# = render "new_link"
        = f.submit "Create Ecard"
