.container
  %h1#ecardator Ecardator
  .content
    = form_for @ecard, url: {action: "create"} do |f|
      .form-div
        = f.label "Title della pagina"
        %br
        = f.text_field :title
        %br
        = f.label "Titolo evento"
        %br
        -# cambiare la variabile da :date in :title_event perché è cambiato il suo significato
        = f.text_field :date
        %br
        = f.label "Descrizione evento"
        %br
        = f.text_field :text
        %br
        = f.label "Link evento"
        %br
        = f.text_field :link
        %br
        = f.label :src
        %br
        = f.text_field :src
        %br
        = f.label :alt
        %br
        = f.text_field :alt
        %br
        #maintable
        .fields
          .choice_event_container
            #button_new_choice
              %a#addNewChoice{:href => "#"} Aggiungi evento
            .form-select
              = f.label 'Color'
              \#{f.select :color_template, [['verde','#78992e'],['viola','#a35b7f'],['giallo','#d99116']]}
          #add_event
            #new_choice_form{:style => "display: none;"}
              -# = render "new_link"
        = f.submit "Create Ecard"
