          <% if @cmp == "" %>
            <a href="<%= @link %>" target="_blank">
          <% else %>
            <% if @link.index('?') != nil %>
              <a href="<%= @link %>&utm_source=newsletter&utm_medium=mail&utm_campaign=<%= @cmp %>" target="_blank">
            <% else %>
              <a href="<%= @link %>?utm_source=newsletter&utm_medium=mail&utm_campaign=<%= @cmp %>" target="_blank">
            <% end %>
          <% end %>
            <img id="img1" style="display: block; margin: 0; padding: 0; width:100%; max-width:<%= @width %>px; max-height:<%= @height %>px;" src="<%= @src %>" border="0" alt="<%= @alt %>">
            </a>
