<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><%= @title %></title>
  </head>

  <body>
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" >
      <%= pre_header_template if @pre_header %>

      <table border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
          <td width="600" id="maintable"><img style="display: block; margin: 0; padding: 0;" width="1" height="10" src="http://static.contactlab.it/spacer.gif"  border="0" ></td>
        </tr>
        <tr>
          <td width="600" id="maintable"  style="font-family: arial; font-size: 10px; line-height: 13px; color: #727272" align="center">
            <!-- init:ecovu --><%= I18n.t('mikamai.browser_view_1').html_safe %><a  style="font-family: arial; font-size: 10px; line-height: 13px;"  href="${online_version_url}$"><%= I18n.t('mikamai.browser_view_2').html_safe %></a><!-- end:ecovu -->
          </td>
        </tr>

        <tr>
          <td width="600" id="maintable"><img style="display: block; margin: 0; padding: 0;" width="1" height="10" src="http://static.contactlab.it/spacer.gif"  border="0" ></td>
        </tr>

        <tr>
          <td width="600" id="maintable" bgcolor="">

            <%= @link.empty? ? no_image_link_template : image_link_template %>

          </td>
        </tr>

        <tr>
          <td width="600" id="maintable"><img style="display: block; margin: 0; padding: 0;" width="1" height="10" src="http://static.contactlab.it/spacer.gif"  border="0" ></td>
        </tr>

        <% if @lang == "zhs" %>
          <tr>
            <td  width="600" align="center" ><a target="_blank" href="http://weibo.com/mikamaiofficial?refer_flag=1001030101_" ><img src="http://static.contactlab.it/mikamai/social/weibo.jpg" border="0" style="display:inline; margin: auto;" ></a>
            <a target="_blank" href="http://mp.weixin.qq.com/s?__biz=MzA5ODAyMTA5OA==&mid=503233839&idx=1&sn=150f593d9fe64623b396cc3f2d180cba#rd" ><img src="http://static.contactlab.it/mikamai/social/wechat.jpg"  border="0" style="display: inline; margin: auto;"></a></td>
          </tr>
        <% else %>
          <tr>
            <td  width="600" align="center" ><a target="_blank" href="http://www.facebook.com/mikamai" ><img src="http://static.contactlab.it/mikamai/social/icona_facebook.jpg" border="0" style="display:inline; margin: auto;" ></a>
            <a target="_blank" href="https://twitter.com/mikamai" ><img src="http://static.contactlab.it/mikamai/social/icona_twitter.jpg"  border="0" style="display: inline; margin: auto;"></a>
            <a target="_blank" href="http://instagram.com/mikamai" ><img src="http://static.contactlab.it/mikamai/social/icona_instagram.jpg"  border="0" style="display: inline; margin: auto;"></a>
            <a target="_blank" href="http://www.youtube.com/mikamai" ><img src="http://static.contactlab.it/mikamai/social/icona_youtube.jpg"  border="0" style="display: inline; margin: auto;"></a></td>
          </tr>
        <% end %>

        <tr>
          <tr>
            <td width="600" id="maintable"  style="font-family: arial; font-size: 10px; line-height: 13px; color: #727272" align="center">
              <br>
              <%= I18n.t('mikamai.footer_1').html_safe %>
              <a href="mailto:no-reply@news.mikamai.com">no-reply@news.mikamai.com</a>
              <%= I18n.t('mikamai.footer_1_2').html_safe %><br>
              <%= forward_template if forward_to_a_friend? %>
            </td>
          </tr>
            <td width="600" id="maintable"  style="font-family: arial; font-size: 10px; line-height: 13px; color: #727272" align="center">
              <br />
              <%= I18n.t('mikamai..footer_2').html_safe %>
              <a href="http://clientsection.contactlab.it/service/unsubscribe/wfc/6720009639979/d/${encoded_user_data}$/k/${form_verification_code}$/lang/<%= lang %>" >
              <%= I18n.t('mikamai..footer_3').html_safe %>
              <a href="http://www.mikamai.com?url=info.html&cmp=int_ecard" target="_blank">
              <%= I18n.t('mikamai..legal_informations').html_safe %>
            </td>
        </tr>
      </table>
    </table>
  </body>
</html>
