!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title= @title
    :sass
      $green: #78992e
      $yellow: #d99116
      $purple: #a35b7f
      $blue: #28a1a1
      #maintable
        padding: 0
        width: 600px
        font-family: "FrutigerLTW01-87ExtraBk", FrutigerLTW01-55Roman, helvetica, Arial, sans-serif
      td
        text-align: center
        font-size: 12px
        line-height: 13px
        color: black
        padding: 0
      #browser_view_link
        color: #727272
      #container
        width: 100%
        padding: 50px 0
      .main_image_table
        width: 50%
        max-width: 300px
        font-size: 16px
        line-height: 25px
        img
          max-width: 90%
      #main_text_table
        padding: 0 10px 10px 10px
        vertical-align: top
        h3
          text-align: left
          margin: 0
        p
          text-align: left
      .event_date_title
        font-weight: bold
      #call_to_action
        width: 100%
        display: block
        height: 100%
        padding: 15px 0
        border: 0
        font-size: 16px
        color: black
        text-decoration: none
      #other_events
        width: 100%
      .event_link_container
        font-size: 16px
        padding: 10px
        line-height: 20px
        width: 180px
        text-align: center
      .event_link
        text-decoration: none
      #footer_social
        background-color: $blue
        width: 100%
      .social_link_icon
        width: 300px
  %body
    %table#maintable{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
      %tr
        %td{style: "padding: 20px 0;"}
          %a#browser_view_link{href: "#"}
            View this email in your browser
      -# metti qui header logo
      %tr
        %td{width: "600"}
          %img#header{border: "0", height: "200", width: "600", src: "https://www.mikamai.com/assets/style/header-bgk-480.jpg", alt: "header_logo"}
      %tr
        %td
          %table#container{style: "background-color: #{@color_template};"}
            = main_image_text
      %tr
        %td{style: "background: gainsboro;"}
          %a#call_to_action{href: "#{@link}"}
            Vai all'evento
      %tr
        %td
          %table#other_events
            = other_events_link
      %tr
        %td
          %table#footer_social
            %tr
              %td{colspan: "2", style: "padding: 25px;"}
                %img{src: "https://gallery.mailchimp.com/5063c757c25f0606e64840c4b/images/f1d01695-9e19-4d60-aed6-7e553d333c45.png", width: "60", height: "60"}
                %img{src: "https://gallery.mailchimp.com/5063c757c25f0606e64840c4b/images/f1d01695-9e19-4d60-aed6-7e553d333c45.png", width: "60", height: "60"}
            %tr
              %td{colspan: "2", style: "padding-bottom: 30px;"}
                <strong>Venini 42</strong> è un progetto realizzato da <strong>Mikamai</strong> e <strong>Linkme</strong>
            %tr
              %td.social_link_icon{style: "border-right: 1px solid black;"}
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
                %br
                social mikamai
              %td.social_link_icon
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
                %img{src: "https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png", width: "30", height: "30"}
                %br
                social linkme
            %tr
              %td{colspan: "2", style: "padding: 30px 0;"}
                Copyright © 2016 Venini42, All rights reserved.
            %tr
              %td{colspan: "2", style: "padding-bottom: 30px;"}
                Want to change how you receive these emails?
                %br/
                You can update your preferences or unsubscribe from this list
